<!-- top height of battery: 223px, red starts at: 20px -->




<script type="text/javascript">
//<![CDATA[
<% @data_points = @user.get_data_points %>
var d = <%= @data_points[0] %>;
var dd = <%= @data_points[1] %>;


setInterval(function() {
  jQuery.ajax({
    success:function(request){
      var percentage = request/(dynos * 1000);
      jQuery("#time span").html(parseInt(request));
      if(percentage > 1){
        percentage = 1;
      };
      if(percentage > .80){
        jQuery("#battery").addClass("red");
      } else if(jQuery("#battery").hasClass("red")){
        jQuery("#battery").removeClass("red");
      };
      var percentage_number = (1 - percentage) * 100;
      percentage = (1 - percentage) * 223;
      jQuery('#average span').html(percentage_number.toFixed(2));
      jQuery('#battery #center').css("height", percentage);
    },
    type:'get',
    url:'/heroku_time?id=<%= @user.id %>'
    })
  }, 10 * 1000);
  
  $(document).ready(function() {
    $("a.button").click( function(){
      var temp_email = $('#email').val();
      $.post('/users/<%= @user.id %>/email_change', {email: temp_email}, function(data) {
        $("#email_data").html(temp_email);
      });
      }
      );
      
      $("#email_edit").click( function() {
        $("#email_info").hide();
        $("#email_form").show();
      });
  });
  
  
//]]>
</script>

<% content_for :info do %>
  <p>
    <b>Account:</b>
    <%= @user.account %>
  </p>

  <p id="time">
    <b>Average Request Time:</b>
    <span>0</span>ms
  </p>

  <p id="average">
    <b>Dyno Capacity:</b>
    <span>100</span>%
  </p>

  <p>
    <b style="margin-right:12px;">Dynos:</b>
    <span class="dynos"><%= @user.requests.last.dynos %>
    </span>
    <!-- <a href="#" class="add_button">
      <img src="/images/plus.png" >
    </a>
    <a href="#" class="minus_button">
      <img src="/images/minus.png" >
    </a> -->
  </p>

  <p id="email_field">
    <b>Email for alerts</b>
    <div id="email_data">
      <% if @user.email %>
        <div id="email_info">
          <%= @user.email %>
          <a href="#" id="email_edit">Edit</a>
        </div>
        <div id="email_form" style="display:none;">
      <% else %>
        <div id="email_form">
      <% end %>
          <input type="text" name="email" value="" id="email">
          <a href="#" class="button">Save</a>
      </div>  
    </div>

  </p>



<% end %>
<% if @user.id == 0 %>
  <% content_for :bottom do %>
    <div class="clear">
    
    </div>
  
    <div id="bottomColumn">
      <div class="clear" style="padding-top:40px;">

      </div>
    
      <div id="placeholder" style="width:600px;height:300px;"></div>
      <div id="overview" style="width:400px;height:50px"></div>
    
    </div>
  <% end %>
<% end %>
<div id="battery" >
    <div id="top_battery">
      
    </div>
    <div id="center">
      <div id="top">

      </div>
    </div>
    <div id="bottom">
    
    </div>
</div>