<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Dyno Battery</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
	<meta http-equiv="Content-Style-Type" content="text/css">
  <%= stylesheet_link_tag 'reset', 'styles' %>
  <!--[if LTE IE 8]>
		<link href="/stylesheets/ie.css" rel="stylesheet" type="text/css">
	<![endif]-->
	<!--[if IE 6]>
		<script type="text/javascript" src="/javascripts/DD_belatedPNG_0.0.8a-min.js"></script>
		<script type="text/javascript">
			DD_belatedPNG.fix('#bg-top, #bg-bottom, #logo, #nav ul, #contentWrap, #content, #leftColumn');
		</script>
	<![endif]-->
	<!--[if IE]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
	<%= javascript_include_tag "application", "jquery.flot", "jquery.flot.selection", "jquery.flot.threshold" %>
	<% if false %>
	  <%= javascript_include_tag "graph" %>
	<% end %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= HEROKU_NAV.html_safe %>
	<div id="wrapper">
		<div id="bg-top"></div>
		<div id="contentWrap">
			<div id="content">
				
				<!-- BEGIN LEFT COLUMN -->
				<div id="leftColumn">
				
					<!-- YOUR LOGO GOES HERE -->
					<img id="logo" src="/images/logo.png" alt="Dyno Battery" width="200" height="126"/>
					
					<%= yield(:info) %>
					
					<!-- ERROR CODE HERE -->
				</div><!-- end div #leftColumn -->
				<!-- END LEFT COLUMN -->
				
				<!-- BEGIN RIGHT COLUMN -->
				<div id="rightColumn">
				  <%= yield %>


				</div><!-- end div #rightColumn -->
				<!-- END RIGHT COLUMN -->
				
				
				<%= yield(:bottom)%>
				
				
				<div class="clear"></div>
			</div><!-- end div #content -->
		</div><!-- end div #contentWrap -->
		<div id="bg-bottom"></div>
	</div><!-- end div #wrapper -->
</body>
</html>

